python/builder.old/venv
python/builder.old/source/AllSets-x.json
python/builder.old/database/identity.py
python/data-tool/venv
images/
*.pyc
.properties

### Came from Spring Initializr: ###

first_attempt/target/
first_attempt/\.mvn/wrapper/maven-wrapper.jar
first_attempt/\.mvn/wrapper/maven-wrapper.properties
JDBC_Only/target/
JDBC_Only/\.mvn/wrapper/maven-wrapper.jar
JDBC_Only/\.mvn/wrapper/maven-wrapper\.properties


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
JDBC_Only/\.mvn/wrapper/maven-wrapper\.properties
