python/builder.old/venv
python/builder.old/source/AllSets-x.json
python/builder.old/database/identity.py
python/data-tool/venv
images/
*.pyc
.properties

### Came from Spring Initializr: ###

Attempt 01/target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/